.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #8a2b06;
  margin: 1rem;
  border: 3px solid black;
  border-radius: 10px;
}

.cart-item h2 {
  margin: 0 0 0.5rem 0;
  color: #363636;
}

.summary {
  width: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-weight: bold;
  color: #8a2b06;
}

.amount {
  font-weight: bold;
  padding: 0.25rem 0.75rem;
  border-radius: 6px;
  color: #8a2b06;
}

.actions {
  display: flex;
  width: 15rem;
  position: relative;
  right: 60%;
  flex-direction: column;
  border: 2px solid;
  background-color: wheat;
  border-radius: 10px;
  margin: auto 0;
}

@media (min-width: 768px) {
  .actions {
    flex-direction: row;
  }
}

.cart-item button {
  font: inherit;
  font-weight: bold;
  background-color: wheat;
  font-size: 1rem;
  color: #8a2b06;
  width: 3rem;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 1rem;
  margin: 0.25rem;
  border: none;
}

.cart-item button:hover,
.cart-item button:active {
  background-color: #8a2b06;
  color: white;
}

.totalAmtBtn {
  border: 2px solid;
  position: relative;
  left: 9rem;
}

.foldingText {
  margin-top: 0;
  margin-bottom: 3rem;
  text-align: center;
}
